*{
    margin:0;
    padding:0;
}

.cart-container{
    display: flex;
    background-color: #F2F6F9;
}

.highlighted-text{
    color:#2096d1 ;
}

.cart-container-image{
    width: 300px;
    padding: 40px;
}

.grey-text{
    color: #808486;
    font-size: 30px;
}

.left-container{
    padding: 20px;
    width: 50%;
}

.shopping-text{
    margin: 15px 0px;
    font-size: 40px;
    color: #495053;
}

.bottom-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}

table{
    width: 900px;
    font-size: 30px;
    padding: 100px;
    text-align: left;
}

table th{
     font-size: small;
     color: #b9cad1;
}

.table-row{
    background-color: #FFFFFF;
    
}

.table-qty{
    color: #2096D4;
    text-align: center;
}

.table-price{
    text-align:  center;
    color: #E28977;
}

.table-arrow{
    color: #808486;
}

.btn{
    background-color: #E28977;
    width: 100px;
    height: 60px;
    font-size: 15px;
    margin-right: 100px ;
}

.total-info{
    margin: 110px;
}
.total-price{
    color: #E28977;
}